.register-container {
  background-image: url("../images/backgroundLogin.svg");
  background-repeat: no-repeat;
  background-position: left center;
  margin-top: 10px;
}

.container {
  opacity: 100%;
}
