.button-toggle {
  padding: 7px;
  background-color: rgb(41, 40, 40);
  color: white;
  border: 0px;
}

@media (min-width: 900px) {
  .button-toggle {
    display: none;
  }
}

.menu a {
  color: grey;
  display: block;
  text-decoration: none;
  margin: 10px;
}
